.header-topbar {
  display: flex;
  position: relative;
  background-color: var(--header-background);
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, .5);
  padding: 1rem;
  z-index: 30;
  color: var(--header-color);
}

h1 {
  font-size: 1.5rem;
}

button {
  padding: 0 .3rem;
  border-radius: 10px;
}

button:focus,
button:active {
  outline: 2px solid var(--highlight-color);
}

svg {
  margin-top: 7px;
  width: 30px;
  height: 30px;
  transition: transform .2s ease-out;
}

.menu-open {
  transform: rotate(90deg);
}

nav ul {
  list-style-type: none;
}

.mobile-menu {
  position: fixed;
  right: 0;
  font-size: 1.5rem;
  padding: .8rem 0 0 0;
  background-color: var(--header-background);
  color: var(--header-color);
  height: 100vh;
  z-index: 20;
}

.mobile-menu a {
  display: block;
  padding: 0 4rem 0 1rem;
  margin-bottom: 1rem;
}

a.active {
  color: var(--highlight-color);
  border-bottom: 2px solid var(--highlight-color);
}

.closed-menu {
  transform: translateX(100%);
  transition: transform .2s ease-out;
}

.open-menu {
  transform: translateX(0);
  transition: transform .2s ease-in;
}

.header-desktop-menu {
  display: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .3);
  z-index: 10;
  opacity: 0;
  animation: fadeIn 0.2s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (min-width: 750px) {
  .mobile-menu {
    display: none;
  }

  .header-desktop-menu {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
  }

  header button {
    display: none;
  }
}
