.horizontal {
    display: flex;
    gap: 4px;

    &>div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 4px;
    }

    & p {
        display: flex;
        justify-content: space-between;
    }
}

.vertical {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &>div {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    & p {
        display: flex;
        justify-content: space-between;
    }
}
