.cart-body {
    & h1 {
        grid-area: 1 / 1 / 2 / 3;
        justify-self: center;
        padding: 16px;
    }

    & main {
        display: grid;

        &>* {
            text-align: center;
        }

        & p {
            font-size: 1.2rem;
        }
    }
}
