.empty {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 10em;
    gap: 1em;
    position: relative
}

main.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1em;
    gap: 1em;

    & ul {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    & ul li {
        background-color: var(--color-secondary-bg);
        border-radius: 10px;
        padding: 1em;
    }
}

.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-color: var(--color-secondary-bg);
    width: 100%;
    padding: 1em;
    border-radius: 10px;

    & button {
        padding: .3em 1.3em;
        background: var(--color-accent);
        border: 2px solid var(--color-border);
        border-radius: 50px;
        font-size: 1.2em;
        transition: background-color .2s linear;
    }

    & button:active {
        background-color: var(--color-success);
    }

    & button:hover {
        background-color: var(--color-accent-hover);
    }

    & * {
        text-align: center;
    }
}

@media (min-width: 750px) {
    .cart {
        display: grid !important;
        justify-content: center;
        grid-template: auto 1fr / minmax(360px, 700px) minmax(360px, 700px);

        & h1 {
            grid-area: 1 / 1 / 2 / 3;
            text-align: center;
        }

        & ul {
            align-self: start;
        }

        & .summary {
            align-self: start;
        }
    }
}
