.empty {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 10em;
    gap: 1em;
}

main.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1em;
    gap: 1em;

    & ul {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    & ul li {
        background-color: var(--color-secondary-bg);
        border-radius: 10px;
        padding: 1em;
    }
}

.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-color: var(--color-secondary-bg);
    width: 100%;
    padding: 1em;
    border-radius: 10px;

    & button {
        padding: .3em 1.3em;
        background: var(--color-accent);
        border: 2px solid var(--color-border);
        border-radius: 50px;
        font-size: 1.2em;
    }

    & * {
        text-align: center;
    }
}
