.empty {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 10em;
    gap: 1em;
}

main.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1em;
    gap: 1em;

    & ul {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    & ul li {
        background-color: var(--color-secondary-bg);
        border-radius: 10px;
        padding: 1em;
    }
}
