.cart-main {
  padding: 1rem;
}

.cart-empty {
  text-align: center;
  padding: 1rem 0;
}

.empty-card-button {
  margin-top: 1rem;
  background-color: var(--downlight-color);
  color: var(--header-background);
  padding: .3rem 1rem;
  border-radius: 20px;
}

.cart-main h2 {
  text-align: center;
}

.cart-item {
  display: grid;
  grid-template: 1fr auto / auto 1fr;
  gap: 1rem;
  border-bottom: 2px solid var(--dark-background);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.cart-item img {
  height: auto;
  width: 140px;
}

.cart-product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.checkout {
  text-align: center;
  margin-top: 3rem;
}

.checkout button {
  background-color: #fff387;
  padding: .3rem 1rem;
  border-radius: 20px;
}

.cart-product-buttons {
  grid-area: 2 / 1 / 3 / 3;
  justify-self: end;
  margin-right: 3rem;
}

.cart-product-buttons button:last-of-type {
  background-color: var(--dark-background);
  padding: .3rem 1rem;
  border-radius: 20px;
  margin-left: 1rem;
}

.remove-1-button,
.add-1-button {
  background: var(--dark-background);
  color: var(--text-color);
  width: 40px;
  height: 40px;
  font-weight: 700;
  font-size: 1.5rem;
}

.cart-product-buttons .remove-1-button {
  border-radius: 50% 0 0 50%;
}

.cart-product-buttons .remove-1-button::before {
  content: "-";
}

.cart-product-buttons .add-1-button {
  border-radius: 0 50% 50% 0;
}

.cart-product-buttons .add-1-button::before {
  content: "+";
}

.cart-product-buttons input {
  width: 50px;
  border: none;
  color: #000;
  text-align: center;
  font-size: 1.2rem;
}

@media (prefers-color-scheme: dark) {
  .empty-card-button {
    color: var(--header-color);
  }

  .checkout button {
    color: var(--header-background);
  }
}

@media (min-width: 960px) {

  .cart-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cart-item {
    justify-self: center;
  }
}
