.error-page-text {
  margin-top: 1rem;
  gap: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
  padding: 0 1rem;
}

main * {
  max-width: 600px;
}

.error-page-text a {
  text-decoration: underline;
}
