.home-section {
  padding: 1rem;
  display: grid;
  grid-template: 1fr / auto 1fr;
  gap: 1rem;
}

.home-products-line h2 {
  border-bottom: 2px solid var(--downlight-color);
  border-top: 2px solid var(--downlight-color);
  margin: 3rem 0 1rem 0;
}

.home-products {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
}

.home-products img {
  height: 250px;
  width: auto;
}

.shop-button-container {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
}

.shop-button {
  background-color: var(--header-color);
  color: var(--downlight-color);
  padding: 0.3rem 1rem;
  border-radius: 30px;
}

.image-container {
  display: grid;
  margin-top: 5rem;
  justify-content: center;
  text-align: center;
}

.image-container img {
  height: 70vh;
  width: auto;
  border-radius: 20px;
}

@media (max-width: 800px) {
  .image-container {
    display: none;
  }
}

@media (min-width: 1560px) {
  .home-section {
    padding: 2rem 6rem;
    gap: 4rem;
  }
}

.home-main {
  overflow-x: hidden;
}
