.home-section {
  display: grid;
  grid-template: 1fr / auto 1fr;
  gap: 1rem;
}

.home-products-line h2 {
  border-bottom: 2px solid var(--downlight-color);
  border-top: 2px solid var(--downlight-color);
  margin: 3rem 0 1rem 0;
}

.home-products {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
}

.home-products img {
  height: 250px;
  width: auto;
}

.shop-button-container {
  display: flex;
  justify-content: flex-end;
  margin: 4rem 0 2rem 0;
}

.shop-button a {
  background-color: var(--header-color);
  color: var(--downlight-color);
  padding: 0.4rem 1rem;
  border-radius: 30px;
}

.image-container {
  text-align: center;
  position: relative;
  min-width: 500px;

  background-image: url(../assets/heshan-perera-Q1AhQ2DgSQA-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-img-credits {
  background: rgba(0, 0, 0, .6);
  margin-top: 5rem;
}

.home-img-credits a {
  text-decoration: underline;
}

.home-main {
  overflow-x: hidden;
  padding: 1rem 0;
}

@media (max-width: 800px) {
  .image-container {
    display: none;
  }
}

@media (min-width: 1560px) {
  .home-section {
    gap: 4rem;
  }
}
