*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

:root {
  --text-color: #1a1a1a;
  --body-background: #f9f7fc;
  --highlight-color: #6640cf;
  --header-background: #f9f7fc;
  --downlight-color: #2a2538;
  --dark-background: #c8c6cc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --body-background: #3e3752;
    --highlight-color: #be63ff;
    --header-background: #2a2538;
    --header-color: #e1daf7;
    --downlight-color: #2a2538;
    --dark-background: #53496e;
  }
}

#root {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  font-size: 1rem;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  background-color: var(--body-background);
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}
