.shop-section {
  display: grid;
  grid-template: 1fr / 1fr;
  place-content: center;
  gap: 1rem;
  padding: 1rem 1rem;
}

.shop-card {
  display: grid;
  grid-template: auto / 1fr 1fr;
  padding-bottom: 1rem;
  border: 2px solid var(--downlight-color);
  background-color: #514869;
  border-radius: 20px;
}

.shop-card img {
  width: 90%;
  height: auto;
  align-self: center;
}

.shop-card .product-info {
  display: grid;
  place-content: center;
  gap: 1rem;
  width: 100%;
  padding-right: 1rem;
  justify-self: end;
}

.shop-card .product-info p {
  justify-self: end;
}

.product-info input:focus {
  outline: 2px solid var(--highlight-color);
}

.shop-add-to-cart-section {
  display: grid;
  grid-template: auto auto / 1fr;
  gap: .2rem;
}

.shop-add-to-cart-section>button {
  background-color: #fff387;
  width: fit-content;
  justify-self: center;
  font-size: 1.1rem;
  color: var(--downlight-color);
  padding: .2rem 1.2rem;
  border-radius: 90px;
}

.shop-add-to-cart-buttons {
  display: grid;
  grid-template: auto / auto auto auto;
  justify-content: center;
}

.shop-add-to-cart-buttons button {
  background: var(--header-color);
  color: var(--downlight-color);
  font-weight: 700;
  font-size: 1.4rem;
  padding: 0 1rem;
  position: relative;
}

.shop-add-to-cart-buttons button:first-of-type {
  border-radius: 50% 0 0 50%;
}

.shop-add-to-cart-buttons button:first-of-type::before {
  content: "-";
}

.shop-add-to-cart-buttons button:last-of-type {
  border-radius: 0 50% 50% 0;
}

.shop-add-to-cart-buttons button:last-of-type::before {
  content: "+";
}

.shop-add-to-cart-buttons input {
  width: 50px;
  border: none;
}

@media (min-width: 590px) {
  .shop-section {
    grid-template: 1fr / 1fr 1fr;
  }

  .shop-card {
    padding: 1rem;
  }
}

@media (min-width: 1040px) {
  .shop-section {
    grid-template: 1fr / 1fr 1fr 1fr;
  }
}

@media (min-width: 1600px) {
  .shop-section {
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
  }
}
