.home-main {
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: var(--color-brand-main);
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.2em;
    gap: 3em;

    & * {
        text-align: center;
    }
}

.products {
    padding: 1.2em;
    max-width: 100vw;

    & h2 {
        margin: 15px 0 5px 0;
    }

    & h3 {
        display: inline-block;
        max-width: 144px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    & ul {
        list-style-type: none;
        display: flex;
        overflow-x: scroll;
        gap: 12px;
        background-color: var(--color-secondary-bg);
        border-radius: 20px;
        scroll-snap-type: x mandatory;
        border: 2px solid var(--color-border);

        & li+li {
            border-left: 2px solid var(--color-border);
        }
    }

    & ul li {
        scroll-snap-align: start;
        padding: 1em;
    }

    & p {
        padding: 4px;
    }
}

.action {
    text-align: center;
    font-size: 1.2rem;
    color: var(--color-primary-bg);
    padding: 20px;

    & a {
        background-color: var(--color-accent);
        padding: .4em 1em;
        border-radius: 40px;
        transition: transform .2s linear;
    }

    & a:hover {
        background-color: var(--color-accent-hover);
    }

    & a:active {
        transform: scale(95%);
    }
}

@media (min-width: 670px) {
    .home-main {
        max-width: 100vw;
        display: grid;
        grid-template: 1fr auto / minmax(0, 1fr) minmax(0, 1fr);
        height: 100%;
    }

    .hero {
        height: 100%;
        width: 100%;
        grid-area: 1/1/3/2;
    }
}
