.shop-main ul {
    display: grid;
    grid-template: auto / repeat(auto-fit, minmax(370px, 1fr));
    gap: 20px;
    padding: .8em;

    & li {
        background-color: var(--color-secondary-bg);
        padding: .6em;
        border-radius: 10px;
    }
}
