header.main {
    background: var(--color-brand-main);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 15;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);

    & img {
        margin: .3em .8em;
    }
}

header.main>nav {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 10;
    background-color: var(--color-secondary-bg);
    height: calc(100vh - 60px);

    & a {
        font-size: 2rem;
        display: inline-block;
        padding: 10px 120px 10px 40px;
        width: 100%;
        transition: background-color .2s linear;
    }

    & a:hover {
        background-color: var(--color-accent-hover);
        color: var(--color-primary-bg);
    }

    & a span {
        position: absolute;
        color: var(--color-text-main);
        top: 5%;
        left: 39%;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: yellow;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

header .backdrop {
    position: absolute;
    top: 100%;
    height: calc(100vh - 60px);
    width: 100vw;
    z-index: 5;
    background-color: rgba(0, 0, 0, .3);
}

@media (min-width: 630px) {
    header.main>nav {
        position: static;
        height: fit-content;
        visibility: visible !important;
        transform: translateX(0) !important;
        display: block !important;
        background-color: var(--color-brand-main);
        height: 100%;

        & ul {
            display: flex;
            align-items: center;
            height: 100%;
        }

        & ul li {
            height: 100%;
            display: flex;
            align-items: center;
        }

        & a {
            font-size: 1.5rem;
            padding: 0 1em;
            display: flex;
            align-items: center;
            height: 100%;
            transition: background-color .2s linear;
        }

        & a:hover {
            background-color: var(--color-accent-hover);
            color: var(--color-primary-bg);
        }

        & a span {
            left: 70%;
        }
    }

    .backdrop {
        display: none;
    }

    button[class*="mobile-nav"] {
        display: none !important;
    }
}
