header.main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & img {
        margin: 0 10px;
    }

    & nav ul {
        display: flex;
        list-style-type: none;

        & li a {
            padding: 6px 10px;
        }
    }
}
