.menu {
    & ul {
        list-style-type: none;
    }

    & ul li {
        position: relative;
    }
}

.closed {
    animation: slide-out .2s both ease-out;
}

.open {
    animation: slide-in .2s both ease-out;
}

.active {
    background-color: var(--color-accent);
    color: var(--color-primary-bg);
}

@keyframes slide-out {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
        visibility: hidden;
    }
}

@keyframes slide-in {
    0% {
        transform: translateX(100%);
        visibility: visible;
    }

    100% {
        transform: translateX(0%);
    }
}
