.horizontal {
    display: grid;
    grid-template: 1fr auto / auto auto;
    gap: 4px;

    & .details {
        justify-content: space-between;
        padding: 1em;
    }
}

.details {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.vertical {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.horizontal p,
.vertical p {
    display: flex;
    justify-content: space-between;
}

.price {
    margin-top: 1em;
    grid-area: 3 / 1 / 4 / 3;
    justify-self: center;
}
