.item-container {
    display: grid;
    grid-template: auto auto / auto 1fr;
    padding: 20px;
    gap: 10px;

    &>img {
        grid-area: 1 / 1 / 2 / 2;
    }

    &>div:first-of-type {
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 14px 0;
    }

    &>div:first-of-type>h3 {
        text-align: start;
    }

    &>div:first-of-type>p {
        display: flex;
        justify-content: space-between;
    }
}

.actions-bar {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    justify-content: center;

    & input {
        width: 40px;
        text-align: center;
        font-size: 1.2rem;
    }

    & button {
        padding: 4px 12px;
        background-color: var(--color-accent);
        transition: background-color .1s linear;
        outline: none;
        border: none;
        font-size: 1.2em;
    }

    & button:hover {
        background-color: var(--color-accent-hover);
    }

    & button:active {
        transform: scale(95%);
    }

    & button:first-of-type {
        border-radius: 12px 0 0 12px;
    }

    & button:last-of-type:active {
        background-color: var(--color-success);
    }

    & :nth-child(odd) {
        border-radius: 0 12px 12px 0;
    }

    & p {
        margin: 0 20px;
    }
}

.remove-from-cart {
    border-radius: 30px !important;
    padding: 4px 16px;
    line-height: 1;
}
