.hero {
    background-color: var(--color-brand-main);
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5vw;
    justify-content: center;
    gap: 10vh;

    & p {
        width: 100%;
    }
}

.home-main {
    padding: 3em;
    display: flex;
    flex-direction: column;
    gap: 24px;

    & a {
        align-self: center;
    }

    & section>div {
        display: flex;
        gap: 12px;
        padding: 1.4em;
        border: 1px solid var(--color-border);
        border-radius: 20px;
        background-color: var(--color-secondary-bg);
        overflow-x: scroll;
    }

    & section>div>div {
        max-width: 174px;
        border-radius: 10px;
        border: 2px solid var(--color-border);
        padding: 10px;
    }

    & section>div h3 {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.button {
    background-color: var(--color-accent);
    transition: background-color .1s linear;
    padding: 6px 28px;
    border-radius: 4em;
}

.button:hover {
    background-color: var(--color-accent-hover);
}

@media (min-width: 1060px) {
    .home-body {
        display: grid;
        grid-template: 1fr / 1fr 1fr;
    }

    .hero {
        height: 100%;
    }

    .home-main {
        & section>div {
            overflow-x: hidden;
        }
    }
}
