*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* 60% - The "Cozy" Backgrounds */

    /* Soft warm white (paper-like) */
    --color-primary-bg: #fdfaf7;
    /* Muted sand/nude for cards/sections */
    --color-secondary-bg: #f2e9e4;

    /* 30% - The "Sakura" Tones */

    /* Dusty Sakura Pink */
    --color-brand-main: #d8a7b1;
    /* Deeper rose for headers/borders */
    --color-brand-dark: #b5838d;

    /* 10% - The "Action" Accents */

    /* Vibrant Sakura for buttons */
    --color-accent: #e5989b;
    /* Darker pink for hover states */
    --color-accent-hover: #d0878a;

    /* Text & UI Elements */

    /* Deep eggplant-grey (softer than black) */
    --color-text-main: #4a4e69;
    /* Muted mauve for secondary info */
    --color-text-muted: #9a8c98;
    /* Very subtle lines */
    --color-border: #e6e1df;

    /* Status */

    /* Soft sage green for "Added to Cart" */
    --color-success: #95d5b2;
}

#root {
    display: grid;
    grid-template: auto 1fr auto / 1fr;
    min-height: 100vh;
    overflow: hidden;
    color: var(--color-text-main);
}

a {
    color: inherit
}

.removed {
    display: none;
}

.opaque {
    opacity: 1;
}

.transparent {
    opacity: 0;
}
