.actions {
    display: flex;
    justify-content: center;
    grid-area: 2 / 1 / 3 / 3;
    margin-top: 8px;
    max-height: fit-content;

    & input {
        width: 4em;
        border: none;
        border-top: 1px solid var(--color-border);
        border-bottom: 1px solid var(--color-border);
        text-align: center;
    }

    & button {
        padding: .3em 1em;
        background-color: var(--color-accent);
        font-size: 1.1rem;
        border: 1px solid var(--color-border);
        transition: transform .1s linear, background-color .2s ease-out;
    }

    & button:active {
        transform: scale(95%);
    }

    & .sub {
        border-radius: 100px 0 0 100px;
    }

    & .add {
        border-radius: 0 100px 100px 0;
    }

    & button:last-of-type {
        margin-left: 20px;
        border-radius: 100px;
    }

    & button:last-of-type:active {
        background-color: var(--color-success);
    }
}
